<configuration>
    <property name="DEV_HOME" value="C:/Users/gopika/Documents/log" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSSSS};%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logfile.txt</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSSSS};%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="project" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>